<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
</head>
<body>
    <h1>All comments</h1>

    
    <% comments.forEach((comment) => { %>
        <div style="border: 1px solid rgb(201, 201, 201); margin-bottom: 1vw; padding: 1vw; ">
            <p><%= comment.comment_text %> - Comment by <%= comment.comment_author %></p>
            <a href="/comments/<%= comment.comment_id %>">View comment</a>
        </div>
    
    <% }) %>


    <p></p>
    <a href="/new-comment">+ add comment</a>
</body>
</html>