<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit comment</title>
</head>
<body>
    <h1>Edit comment</h1>

    <% comments.forEach((comment) => { %>

        <form action="/comments/edit/<%= comment.comment_id %>?_method=PATCH" method="post">
            <p>Comment by : <input type="text" name="author" value="<%= comment.comment_author %>"></p>

            <p>Comment</p>
            <textarea name="comment" id="comment" cols="30" rows="10">
                <%= comment.comment_text %>
            </textarea>

            <button>Save Changes</button>
        </form>
    <% }) %>
</body>
</html>